<section class="newhomepage-banner">
    <div class="banner-background">
        <div class="banner-content-new">
            <h2 class="family-content-heading">What is your Family ID?</h2>
            <p class="family-content-paragraph">Take the Family ID Assessment to unlock awareness of your family’s unique identity</p>
            <button class="get-started-now-new"  (click)="btnClick();">Get Started Now</button>
            <div class="get-time-section-new">
                <img src="../../assets/images/alarm-icon.jpg">
                <!-- <p class="ten-minutes-text-new">This will take you 5 minutes</p> -->
                <p class="ten-minutes-text-new">10 min</p>

                
            </div>
        </div>
    </div>
</section>
