<section class="answer-section-main">
    <div class="answer-section">
        <!-- <h2 class="am-answering-text">I am answering these as...</h2> -->
        <h2 class="am-answering-text"> Who will be answering the following questions?</h2>
       
        <div class="answer-inner-section">
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 col-12 first-answer-section">
                <div class="human-pics1">
                    <img src="../../assets/images/twohumans.svg" class="img-responsive" />
                </div>
                <div class="btn-adult">
                    <button class="adult-button" (click)="agegroupbtn($event);">Adult</button>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 col-12 second-answer-section">
                <div class="human-pics2">
                    <img src="../../assets/images/twogirls.svg" class="img-responsive" alt="two-girls" />
                </div>
                <div class="btn-adult">
                    <button class="teen-button" (click)="agegroupbtn($event);">Teenager/pre-teen</button>
                </div>
            </div>
        </div>
    </div>
</section>