<section class="fid-groupform-main">
    <div class="done-groupinner-section">
        <div class="content-groupinner-section">
            <div class="family-group-Logo">
                <!-- <img src="../../assets/images/confirmation-logo.png" class="family-group-img" alt="boy-sitting" /> -->
                <img src="../../assets/images/confirm-girl-img.svg" class="family-group-img" alt="boy-sitting" />
            </div>
            <div class="invite-your-family">
                <img src="../../assets/images/confirmation-tick-icon.png" class="confirmation-tick-icon">
                <p class="you-are-text">You’ve successfully invited your family!</p>
                <p class="go-back-results" (click)="goToResult()" *ngIf="this.checkid">Go back to my results</p>
            </div>
        </div>
    </div>
</section>

<section class="main-signup" >
    <div class="sign-up-resources-main">
        <div class="sign-up-inner">
            <h3 class="sign-up-heading-mobile">
                FAMILY Id CAN HELP YOUR FAMILY REACH ITS FULL POTENTIAL
               
            </h3>
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 sign-up-text-content">
                <h3 class="sign-up-heading">
                    SIGN UP FOR OUR RESOURCES
                </h3>
                <p class="sign-up-text">Become a more intentional and focused family by registering on Family ID for a customized learning path for your family!</p>
                <button type="button" class="sign-me"><p class="signup-btn-text">SIGN ME UP!</p><p class="register-btn-text">REGISTER FOR FREE</p></button>
            </div>
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 sign-up-image-section">
                <img src="../../assets/images/signup-image.png">
            </div>
        </div>
    </div>
</section>
