
<configuration>
<system.webServer>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
        </rules>
    </rewrite>
    <staticContent>
    <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
    <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
    <mimeMap fileExtension=".webm" mimeType="video/webm"/>
<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
<mimeMap fileExtension=".woff2" mimeType="application/x-font-woffs" />
<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
  </staticContent>
</system.webServer>
</configuration>